In [4]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [5]:
tickers = ['AAPL', 'MSFT'] 
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t]= wb.DataReader(t, data_source='yahoo', start= '2009-1-1')['Adj Close']

In [6]:
sec_data.tail()

                  AAPL        MSFT
Date
2022-02-14  168.880005  294.391296
2022-02-15  172.789993  299.850006
2022-02-16  172.550003  299.500000
2022-02-17  168.880005  290.730011
2022-02-18  167.300003  287.929993

In [8]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [9]:
sec_returns

                AAPL      MSFT
Date
2009-01-02       NaN       NaN
2009-01-05  0.041337  0.009302
2009-01-06 -0.016631  0.011628
2009-01-07 -0.021846 -0.062101
2009-01-08  0.018399  0.030787
...              ...       ...
2022-02-14  0.001422 -0.000136
2022-02-15  0.022889  0.018373
2022-02-16 -0.001390 -0.001168
2022-02-17 -0.021499 -0.029719
2022-02-18 -0.009400 -0.009678

[3307 rows x 2 columns]

In [10]:
sec_returns['AAPL'].mean()

0.0012398818893835932

In [12]:
sec_returns['AAPL'].mean()*250

0.3099704723458983

In [14]:
sec_returns['AAPL'].std()

0.01797044933206793

In [17]:
sec_returns['AAPL'].std()*250 ** 0.5

0.28413775232993094

In [18]:
sec_returns['MSFT'].mean()

0.0008875235043338606

In [19]:
sec_returns['MSFT'].mean()*250

0.22188087608346513

In [20]:
sec_returns['MSFT'].std()

0.016525398462482178

In [21]:
sec_returns['MSFT'].std()*250 ** 0.5

0.26128949191644135

In [22]:
sec_returns[['AAPL','MSFT']].mean()*250

AAPL    0.309970
MSFT    0.221881
dtype: float64

In [23]:
sec_returns[['AAPL', 'MSFT']].std()*250 ** 0.5

AAPL    0.284138
MSFT    0.261289
dtype: float64

In [26]:
AAPL_var= sec_returns['AAPL'].var()
AAPL_var

0.0003229370491964208

In [27]:
MSFT_var= sec_returns['MSFT'].var()
MSFT_var

0.00027308879434380834

In [28]:
AAPL_var_anual= sec_returns['AAPL'].var()*250
AAPL_var_anual

0.0807342622991052

In [29]:
MSFT_var_anual= sec_returns['MSFT'].var()*250
MSFT_var_anual

0.06827219858595208

In [30]:
cov_matrix = sec_returns.cov()
cov_matrix

          AAPL      MSFT
AAPL  0.000323  0.000163
MSFT  0.000163  0.000273

In [31]:
cov_matrix_anual = sec_returns.cov()*250
cov_matrix_anual

          AAPL      MSFT
AAPL  0.080734  0.040709
MSFT  0.040709  0.068272

In [32]:
corr_matrix= sec_returns.corr()
corr_matrix

          AAPL      MSFT
AAPL  1.000000  0.548325
MSFT  0.548325  1.000000

In [33]:
weights = np.array([0.5,0.5])

In [34]:
varianciaport= np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
varianciaport

0.057606041171822116

In [35]:
volatilidadeport= np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))**0.5
volatilidadeport

0.24001258544464313

In [45]:
print (str(round(volatilidadeport, 5) * 100) + ' %')

24.001 %